<h1><strong>Welcome to
    <span class="glyphicon glyphicon-book"><strong>Bookers</strong>  !!</span></h1>

<p>
In<span class="glyphicon glyphicon-book"></span> Bookers,<br>
you can share and exchange your opinions , inpressions , and emotions<br>
about various books!</p>

<div>
<%= link_to 'Log in', new_user_session_path,
class: "btn btn-info col-md-offset-3 col-xs-6 col-md-offset-3" %>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success col-md-offset-3 col-xs-6 col-md-offset-3" %>
</div>

<br>
<br>
<br>


<footer>
<div class="col-xs-3 col-xs-offset-9">
   <p>CopyRight Infratop.inc</p>
</div>



</footer>


